<div class="card shadow border-0">
    <div class="card-header bg-success text-white">
        <h5 class="mb-0">Nueva Habitación</h5>
    </div>

    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Número</label>
                    <input type="text" class="form-control" formControlName="numero" />
                </div>
                <div class="col-md-6">
                    <label>Tipo</label>
                    <input type="text" class="form-control" formControlName="tipo" />
                </div>
            </div>

            <div class="mb-3">
                <label>Estado</label>
                <input type="text" class="form-control" formControlName="estado" />
            </div>

            <button class="btn btn-success" [disabled]="form.invalid">Guardar</button>
            <button class="btn btn-secondary ms-2" (click)="volver()">Volver</button>
        </form>
    </div>
</div>